<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista zamówień</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <%- include('../partials/header', { type: 'admin', currentPath: '/admin/orders' }) %>

    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/sidebar', { currentPath: 'users' }) %> 

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1 class="mb-4 text-center">Zarządzanie zamówieniami</h1>

        <% if (orders.length === 0) { %>
            <p class="text-center">Brak zamówień w systemie.</p>
        <% } else { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nr Zamówienia</th>
                        <th>Użytkownik</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(order => { %>
                        <tr>
                            <td><%= order._id %></td>
                            <td><%= order.username %></td>
                            <td><%= order.status %></td>
                            <td><%= order.createdAt.toLocaleString() %></td>
                            <td>
                                <a href="/admin/orders/<%= order._id %>" class="btn btn-info btn-sm">Szczegóły</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
        </main>
    </div>

    <%- include('../partials/footer') %>

    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
